# 🌱 URI de conexión a MongoDB Atlas
# Reemplaza <usuario> y <contraseña> y tu@cluster con tus credenciales de acceso


#MONGO_URI=mongodb+srv://<usuario>:<contraseña>@tucluster.mongodb.net/Pokedex?retryWrites=true&w=majority    para atlas
MONGO_URI=mongodb://mongo:27017/pokedex        #para local

# 🔐 Clave secreta para firmar y validar JWT
JWT_SECRET=tu_clave_ultrasecreta

# 📬 Configuración para envío de correos con Mailtrap
# 👉 Crea cuenta en https://mailtrap.io/ y copia tus datos aquí
EMAIL_USER=tu_usuario_mailtrap
EMAIL_PASS=tu_contraseña_mailtrap
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525

# 🌐 URL del frontend para CORS y redirecciones
FRONTEND_URL=http://localhost:5173
